.vs/
Assets/ExampleAssets/
Assets/Kenney Assets/
Assets/Modern & Clean GUI/
Assets/Samples/
Assets/TutorialInfo/
Library/
Logs/
obj/
Temp/
Assets/EffectExamples/
Assets/SceneDependencyCache/
*.csproj
